/* Main  */
.first-container{
    background-image: url(../../image/contact/businessman-3897245.jpg);
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.details{
    margin: 10vh auto;
}

.product-image img{
    width: 95%;
    height: 70vh;
}

.add-to-cart:hover{
    background-color: #090b0c !important;
    
}

.button{
    margin:40px 0;
    z-index: -1;
}

.add-to-cart{
    margin: 0 2vw;
    
}

.product-details p{
    font-size: 1.1rem;
    margin: 10px 0;
}

/* Quantity BUtton */
/* skin 2 */
.skin-2 .num-in {
    background: #ffffff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    height: 4 0px;
    width: 110px;
    float: left;
    transform: scale(1.1);
  }
  
  .skin-2 .num-in span {
    width: 40%;
    display: block;
    height: 40px;
    float: left;
    position: relative;
  }
  
  .skin-2 .num-in span:before,
  .skin-2 .num-in span:after {
    content: "";
    position: absolute;
    background-color: #667780;
    height: 2px;
    width: 10px;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -5px;
  }
  
  .skin-2 .num-in span.plus:after {
    transform: rotate(90deg);
  }
  
  .skin-2 .num-in input {
    float: left;
    width: 20%;
    height: 40px;
    border: none;
    text-align: center;
  }
  
  /* / skin 2 */


