
  /* Main  */

  .first-container{
    background-image: url(../../image/shop/pocket-watch-1637396.jpg);
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.second-container{
    margin: 10vh 0;
    min-height: 50vh;
}

.our-shop li{
    list-style: none;
}

.our-shop li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: all 100ms ease-in-out;
}

.active-shop{
    color: #f33f3f !important;
    font-size: 1.1rem;
}

.our-shop li a:not(.active-shop):hover{
    color: #f33f3f;
    font-size: 1.1rem;
}

.watch{
    width: 90%;
    margin: 0 auto;
    height: 42vh;
}

.watch img{
    width: 100%;
    margin-bottom: 10px;
    height: 100%;
}

.info p {
    color: #f33f3f;
    font-size: 1.1rem;
    margin-bottom: 25px;
  }


 .shop-list a{
    text-decoration: none;
    color: #343a40;
 } 

 .shop-list-display{
    display: none;
 }

 .shop-list-display-block{
    display: block;
 }

