{% extends 'admin/base.html'%}

{% block message %} active  {% endblock %}


{% block title %} Admin || Message || A Watcher  {% endblock %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{%static 'css/admin/message.css'%}">
    <style>
      .main-container{
        min-height: 50vh;
      }
    </style>
{% endblock %}


{% block content %}

<main class="bg-dark">

    <div class="container text-white main-container">
        
        <table class="table table-hover table-dark">
            <thead>
              <tr>
                <th scope="col"> SN </th>
                <th scope="col">Full Name</th>
                <th scope="col">E-mail</th>
                <th scope="col">Subject</th>
                <th scope="col">Message</th>
              </tr>
            </thead>
            <tbody>
                {% for messages in message %}
              <tr>
                <th scope="row">1</th>
                <td >{{messages.fullname}}</td>
                <td>{{messages.email}}</td>
                <td>{{messages.subject}}</td>
                <td>{{messages.message}}</td>
              </tr>

              {% endfor %}
              
            </tbody>
          </table>



    </div>

</main>
    
{% endblock %}