{% extends 'base.html'%}

{% block title %} A Watcher  || About {% endblock %} 

{% load static %}

{% block css %} <link rel="stylesheet" href="{% static 'css/user/about.css' %}"> {% endblock %}

{% block content %}
<main>
          <div class="first-container">

          </div>
          <div class="second-container ">
              <div class="container">
                  <div class="row mb-5 our-background">
                      <div class="col-12 mb-3">
                          <h2>OUR BACKGROUND</h2>
                          <hr>
                      </div>
                      <div class="col-lg-6 mb-md-4 our-background-image">
                          <img src="{% static 'image/about/gettyimages-488786677-2048x2048.jpg'%}" alt="">
                      </div>
                      <div class="col-lg-6  our-background-info">
                          <h4>What we do?</h4>
                          <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quisquam error fugit, exercitationem laborum at mollitia rerum esse dicta. Asperiores aspernatur nam commodi fuga deserunt voluptatum voluptates vitae ipsam obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum magnam minima labore repudiandae libero quam itaque ducimus hic natus! Quos doloremque ducimus recusandae amet ipsam nisi labore fuga consectetur sint.</p>
                          <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. In ipsa culpa ad quaerat neque, minus repellat quasi accusamus optio non repellendus excepturi, nostrum, voluptatem consectetur eveniet qui ex sint quae.</p>
                      </div>
                  </div>

                  <div class="row mb-5 out-team">
                      <div class="col-12 mb-3 ">
                          <h2>OUR TEAM</h2>
                          <hr>
                      </div>
                      
                      <div class="col-lg-4 col-md-6">
                          <div class="team-member">
                              <div class="team-image">
                                  <img src="{% static 'image/about/team/istockphoto-1300972574-170667a.jpg'%} " alt="">
                              </div>
                              <div class="team-info mt-3   text-center">
                                  <h5 class="text-primary">Sabin Pandey</h5>
                                  <h6>Co-Founder</h6>
                                  <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum!</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                          <div class="team-member">
                              <div class="team-image">
                                  <img src="{% static 'image/about/team/istockphoto-1300972574-170667a.jpg'%}" alt="">
                              </div>
                              <div class="team-info mt-3 text-center">
                                  <h5 class="text-primary">Sabin Pandey</h5>
                                  <h6>Co-Founder</h6>
                                  <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum!</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                          <div class="team-member">
                              <div class="team-image">
                                  <img src="{% static 'image/about/team/istockphoto-1300972574-170667a.jpg'%}" alt="">
                              </div>
                              <div class="team-info mt-3 text-center">
                                  <h5 class="text-primary">Sabin Pandey</h5>
                                  <h6>Co-Founder</h6>
                                  <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum!</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 mt-4 col-md-6">
                          <div class="team-member">
                              <div class="team-image">
                                  <img src="{% static 'image/about/team/istockphoto-1300972574-170667a.jpg'%}" alt="">
                              </div>
                              <div class="team-info mt-3 text-center">
                                  <h5 class="text-primary">Sabin Pandey</h5>
                                  <h6>Co-Founder</h6>
                                  <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum!</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 mt-4 col-md-6">
                          <div class="team-member">
                              <div class="team-image">
                                  <img src="{% static 'image/about/team/istockphoto-1300972574-170667a.jpg'%}" alt="">
                              </div>
                              <div class="team-info mt-3 text-center">
                                  <h5 class="text-primary">Sabin Pandey</h5>
                                  <h6>Co-Founder</h6>
                                  <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum!</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 mt-4 col-md-6">
                          <div class="team-member">
                              <div class="team-image">
                                  <img src="{% static 'image/about/team/istockphoto-1300972574-170667a.jpg'%}" alt="">
                              </div>
                              <div class="team-info mt-3 text-center">
                                  <h5 class="text-primary">Sabin Pandey</h5>
                                  <h6>Co-Founder</h6>
                                  <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum!</p>
                              </div>
                          </div>
                      </div>

                  </div>

                  <div class="row mb-5 our-patners">
                      <div class="col-12 ">
                          <h2>OUR PATNERS</h2>
                          <hr>
                      </div>

                      <div class="col-md-3  col-6">
                          <div class="patner-image">
                              <img src="{% static 'image/about/patner/rolex-logo-512x512.png'%} " alt="">
                          </div>
                      </div>
                      <div class="col-md-3 col-6">
                          <div class="patner-image">
                              <img src="{% static 'image/about/patner/rolex-logo-512x512.png'%}" alt="">
                          </div>
                      </div>
                      <div class="col-md-3 col-6">
                          <div class="patner-image">
                              <img src="{% static 'image/about/patner/rolex-logo-512x512.png'%}" alt="">
                          </div>
                      </div>
                      <div class="col-md-3 col-6">
                          <div class="patner-image">
                              <img src="{% static 'image/about/patner/rolex-logo-512x512.png'%}" alt="">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </main>

{% endblock %}

