{% extends 'base.html'%}

{% block title %} A Watcher  || Details {% endblock %} 

{% load static %}

{% block css %} <link rel="stylesheet" href="{% static 'css/user/details.css' %}"> {% endblock %}

{% block content %}

 <!-- Main  -->
 <main>
    <div class="first-container"></div>
      <div class="details container">
          <div class="row">
              <div class="col-12 mb-4">
                  <h2>PRODUCT DETAILS</h2>
                  <hr>
              </div>
              <div class="col-md-6 mb-5 product-image">
                  <img src="/{{data.product_image}}" alt="">
              </div>
              <div class="col-md-6 product-details">
                  <h3>{{data.product_name}}</h3>
                  <p>{{data.product_details}}</p>
                  <hr>
                  <h5><b>Price:</b> &nbsp; &nbsp; <span>$ {{data.product_price}}</span></h5>
                  <div class="button d-flex">
                      <div class="num-block skin-2">
                          <div class="num-in">
                            <span class="minus dis"></span>
                            <input type="text" class="in-num" value="1" readonly="" />
                            <span class="plus"></span>
                          </div>
                      </div>
                      {% if request.user.is_authenticated %}
                    
                      <div>

                          <a href="/user/add-to-cart/{{data.id}}/{{user.id}}"><button type="button" class="btn btn-dark add-to-cart" >Add To Cart</button></a>
                      </div>
                      <div>
                          <a href="/user/buynow/{{data.id}}/{{user.id}}"><button type="button" class="btn btn-primary " >Buy Now</button></a>

                      </div>

                      {% else %}

                      <div>

                        <a href="/user/cart"><button type="button" class="btn btn-dark add-to-cart" >Add To Cart</button></a>
                    </div>
                    <div>
                        <a href="/user/buy"><button type="button" class="btn btn-primary " >Buy Now</button></a>

                    </div>

                    {% endif %}
                      
                  </div>
                  <hr>

                  <h4>Description</h4>
                  <p>{{data.product_description}}</p>
                  
              </div>
          </div>
      </div>
   
  </main>
{% endblock %}